body{
    margin: 0; padding: 0; line-height: 1.5em; background: #fff; color: #000; letter-spacing: 1px;     
}

#header{
    background-color: #f5f5dc;
    font-size: 2.4em; font-weight: normal;  letter-spacing: 20px; text-align: center; height: 40px;
    border-bottom: 1px solid #000; padding-top: 20px; text-align: center;
}

ul#navbar {
    background-color: #f5f5dc; margin-top: auto; border-bottom: 1px solid #000; padding: 10px 0 10px 30px; white-space: nowrap; 
  }

#navbar li{
    display: inline; list-style: none; padding-left: 15px; letter-spacing: 1px;
}

#navbar a:link, #navbar a:visited{color: #000; text-decoration: none; border: 1px solid #f5f5dc;   
}

#navbar a:hover{
    color: #000; text-decoration: none; border: 1px solid #000; padding: 3px; background-color: #f9f9ea;
}

#maincontainer {width: 600px; margin: 50px auto;}

#content {float: left; width: 100%;}

h1,h2,h3{font-size: medium; color: #626258; }

#contentcolumn {
    font-size: 1em; 
}

.limage{float: left;margin: 6px 10px 0 0;}

a,a:active,a:visited {outline:none;color: #626258;text-decoration: underline;}

a:hover {color: #939384;text-decoration: none;}

.rimage{float: right; margin: 6px 0 0 10px;}

div.hr{margin: 20px 0 20px 0; background: #fff url(file:///F:/Web%20Design/Beginner%20level/1/simple_elegance_03_template_1158/images/hr.gif); height: 10px;}

div.hr hr{display: none;}

.gallery {margin-right: 4px; border: none;}

#lis{
    margin-left: 20px; font-size: 15px; padding-left: 0; list-style: none;
}

#lis li{
    padding-left: 10px; background: url(file:///F:/Web%20Design/Beginner%20level/1/simple_elegance_03_template_1158/images/list.gif) no-repeat 0 7px ;
    padding-bottom: 1px;
}

h4{
    font-size: 16px; color: #626258;
}

.form{
    margin: 20px 0 20px 0; 
}

.form p{
    width: 300px;clear: left;margin: 0;padding: 5px 0 8px 0;padding-left: 155px;height: 1%;
}

.form label{ padding: 0;
    font-weight: bold;float:left;margin-left: -155px;width: 150px;
}

.form input{
    width: 275px; background-color: #f5f5dc; border: 1px solid #f5f5dc; font: 1em/160% verdana, arial, helvetica, sans-serif; letter-spacing: 1px; padding: 4px;
}

.form textarea{
    width: 275px; height: 150px; background-color: #f5f5dc; border: 1px solid #f5f5dc; font: 1em/160% verdana, arial, helvetica, sans-serif; letter-spacing: 1px; padding: 4px;
}

#submit {
    margin-left: 155px;
}

* html #submit {margin-left: 158px;}

.subbtn{
    border: 1px solid #939384; background: #f5f5dc url(file:///F:/Web%20Design/Beginner%20level/1/simple_elegance_03_template_1158/images/button.gif); letter-spacing:  1px; width: 140px;
}
#table1{
    margin: 0;
}
#table1 li{
    list-style-type: none;
}
#left{
    float: left; width: 48%; font-size: 1em;
}

#left li{
    background: url(file:///F:/Web%20Design/Beginner%20level/1/simple_elegance_03_template_1158/images/link.gif) no-repeat 0 5px;
    padding-left: 15px;
}

#right{
    float: right; width: 48%; font-size: 1em;
}

#right li{
    background: url(file:///F:/Web%20Design/Beginner%20level/1/simple_elegance_03_template_1158/images/link.gif) no-repeat 0 5px;
    padding-left: 15px;
}
